*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.common-class {
    background-color: #069c99;
    padding: 20px 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider{
    position: relative;
    img{
        width: 100%;
        height: 100vh;
        user-select: none;
    }

    .next {
        right: 20px;
        @extend .common-class;
        i{
            color: #fff;
        }
    }
    .prev {
        left: 20px;
        @extend .common-class;
        i{
            color: #fff;
        }
    }

    .alldot{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        span{
            color: #fff;
            background-color: #069c99;
            padding: 8px 13px;
            margin-right: 5px;
            border: 1px solid #069c99;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            cursor: pointer;
           
    }
    }

  
}
